.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.map-container {
    flex: 1; /* zabírá zbytek prostoru */
    position: relative;
    height: 100%;
    width: 100%;
}